# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python
__pycache__

# images
*.png
*.jpeg
*.jpg
*.pdf

# notes
*.md
temp/

# vscode
*.json
!tasks.json
!launch.json

# CMake files
build/*

# not Makefiles
# !build/Makefile

# !build/relativity
# build/relativity/*
# !build/relativity/Makefile

# !build/tests
# build/tests/*
# !build/tests/Makefile

# !build/bindings
# build/bindings/*
# !build/bindings/Makefile